# Carpetas generadas por Quartus
Codigo/db/
Codigo/incremental_db/
Codigo/output_files/
Codigo/simulation/
Codigo/TclScriptsHGB/
Codigo/work/

# Archivos temporales / locales de Quartus
*.qws
*.qdf
*.qpf
*.qsf
*.cdf
*.jdi
*.rpt
*.smsg
*.pin
*.sof
*.pof
*.elf
*.map
*.summary
*.done
*.flow.rpt
transcript
Codigo/output_files/

# Backups de desarrollo propios
_vcheck/
Codigo_backup_etapa1/
Codigo/_backups/
Codigo/Adafruit_VL53L0X-master/
Codigo/db/

# Otros
*.toml
Codigo/.claude/
.vscode/
db/
incremental_db/
ref_lib/